#syn-ext-target {
  position: relative !important;
  display: inline-block !important;
}
#syn-ext-target:after {
  content: "" !important;
  width: 2rem !important;
  height: 2rem !important;
  z-index: 9999999 !important;
  position: absolute !important;
  bottom: 100% !important;
  left: 0 !important;
  background: #98c1ff !important;
  clip-path: polygon(100% 0, 0 0, 50% 50%) !important;
  transform: translateX(-50%) !important;
}
#syn-ext-target .syn-ext {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0rem !important;
  font-size: 1rem !important;
  min-width: 25rem !important;
  height: auto !important;
  max-height: 15rem !important;
  overflow-y: scroll !important;
  transform: translateX(-50%) !important;
  position: absolute !important;
  bottom: calc(100% + 2rem) !important;
  left: 50% !important;
  z-index: 9999999 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  border-radius: 2px !important;
}
#syn-ext-target .syn-ext * {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1rem !important;
  font-style: normal !important;
  text-align: left !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "Roboto", sans-serif !important;
  max-width: 100% !important;
}
#syn-ext-target .syn-ext .syn-ext-site-link {
  cursor: pointer !important;
}
#syn-ext-target .syn-ext .syn-ext-logo {
  color: #414141 !important;
  font-size: 1.75rem !important;
  font-weight: 300 !important;
  font-family: "Roboto Slab", sans-serif !important;
  padding: 1rem !important;
  text-align: center !important;
  color: #414141 !important;
  letter-spacing: -0.0083333333em !important;
  -moz-osx-font-smoothing: grayscale !important;
  background: #98c1ff !important;
}
#syn-ext-target .syn-ext .syn-ext-wrapper {
  padding: 1rem !important;
  background: #f5f5f5 !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list {
  list-style: none !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-error {
  color: #ff5656 !important;
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
  text-align: center !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result {
  margin-bottom: 1rem !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-title {
  white-space: nowrap !important;
  font-size: 3rem !important;
  line-height: 3rem !important;
  letter-spacing: -0.00833em !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  text-transform: lowercase !important;
  margin-bottom: 0.5rem !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-definition {
  margin-bottom: 1rem !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-definition .part-of-speech {
  font-style: italic !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-section {
  box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
  border-radius: 2px !important;
  background: white !important;
  margin-bottom: 1rem !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-section.synonyms .syn-ext-clickables-wrapper .syn-ext-clickable {
  background-color: #98c1ff !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-section.synonyms .syn-ext-clickables-wrapper .syn-ext-clickable:hover {
  background: #7fb2ff !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-section .syn-ext-result-section-title {
  padding: 0.5rem !important;
  font-size: 1.5rem !important;
  border-bottom: 1px solid #d4d4d4 !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-section .syn-ext-clickables-wrapper {
  padding: 0.5rem 1rem !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-section .syn-ext-clickables-wrapper .syn-ext-clickable {
  display: inline-block !important;
  margin-bottom: 0.5rem !important;
  margin-right: 0.25rem !important;
  border-radius: 30px !important;
  font-size: 1.1rem !important;
  padding: 0.5rem !important;
  background: #ffc08a !important;
  cursor: pointer !important;
  transition: background 0.2s ease-in-out !important;
}
#syn-ext-target .syn-ext .syn-ext-results-list .syn-ext-result .syn-ext-result-section .syn-ext-clickables-wrapper .syn-ext-clickable:hover {
  background: #ffb271 !important;
}
#syn-ext-target .syn-ext .syn-ext-footer {
  text-align: center !important;
  color: #414141 !important;
}
#syn-ext-target .syn-ext .syn-ext-footer a {
  color: orange !important;
}

/*# sourceMappingURL=content.css.map */
