$color-footer: #ababab;
$color-darkgrey: #414141;
$color-body-background: #f5f5f5;
$color-lightblue: #98c1ff;
$color-lightorange: #ffc08a;
$color-lightred: #ff5656;
$color-card-hr: #d4d4d4;
$color-leafblue: #00b3e3;
$color-cta: orange;

$font-family-logo: 'Roboto Slab', sans-serif;
$font-family-primary: 'Roboto', sans-serif;

.syn-ext {
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
  font-size: 1rem;
  min-width: 25rem;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family-primary;
    max-width: 100%;
  }
  .syn-ext-site-link {
    cursor: pointer;
  }
  .syn-ext-logo {
    color: $color-darkgrey;
    font-size: 1.75rem;
    font-weight: 300;
    font-family: $font-family-logo;
    padding: 1rem;
    text-align: center;
    color: $color-darkgrey;
    letter-spacing: -.0083333333em;
    -moz-osx-font-smoothing: grayscale;
    background: $color-lightblue;
  }
  .syn-ext-wrapper {
    padding: 1rem;
    background: $color-body-background;
  }
  .syn-ext-instructions {
    text-align: center;
    line-height: 1.25rem;
    color: $color-darkgrey;
    margin-bottom: 1rem;
    font-family: $font-family-primary;
  }
  .syn-ext-search {
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border: none;
    border-bottom-color: rgba(0,0,0,.12);
    background-color: #fcfcfc;
    height: 4rem;
    border-radius: 2px;
    font-size: 2.25rem;
    line-height: unset;
    color: rgba(0,0,0,.87);
    padding: 12px 16px 14px;
    font-weight: 200;
    font-family: $font-family-primary;
    letter-spacing: .00937em;
    margin-bottom: 1rem;
    width: 100%;
    &:placeholder {
      font-weight: inherit;
      font-size: inherit;
      color: inherit;
      font-family: inherit;
    }
  }
  .syn-ext-results-list {
    list-style: none;
    .syn-ext-error {
      color: $color-lightred;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    .syn-ext-result {
      margin-bottom: 1rem;
      .syn-ext-result-title {
        white-space: nowrap;
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: -.00833em;
        font-family: $font-family-primary;
        font-weight: 300;
        text-transform: lowercase;
        margin-bottom: .5rem;
      }
      .syn-ext-result-definition {
        margin-bottom: 1rem;
        .part-of-speech {
          font-style: italic;
        }
      }
      .syn-ext-result-section {
        box-shadow: 0 3px 10px -8px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        border-radius: 2px;
        background: white;
        margin-bottom: 1rem;
        &.synonyms {
          .syn-ext-clickables-wrapper {
            .syn-ext-clickable {
              background-color: $color-lightblue;
              &:hover {
                background: darken($color-lightblue, 5%);
              }
            }
          }
        }
        .syn-ext-result-section-title {
          padding: .5rem;
          font-size: 1.5rem;
          border-bottom: 1px solid #d4d4d4;
        }
        .syn-ext-clickables-wrapper {
          padding: .5rem 1rem;
          .syn-ext-clickable {
            display: inline-block;
            margin-bottom: .5rem;
            margin-right: .25rem;
            border-radius: 30px;
            font-size: 1.1rem;
            padding: .5rem;
            background: $color-lightorange;
            cursor: pointer;
            transition: background .2s ease-in-out;
            &:hover {
              background: darken($color-lightorange, 5%);
            }
          }
        }
      }
    }
  }
  .syn-ext-footer {
    text-align: center;
    color: $color-darkgrey;
    a {
      color: $color-cta;
    }
  }
}
